@mixin listPage() {
    ion-list {
        box-sizing: content-box;

        ion-text,
        ion-skeleton-text {
            display: block;
            width: 80%;
            max-width: 1024px;
            margin-inline: auto;

            padding: 1rem;
            border-radius: 64px;

            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }

        ion-text {
            border: 1px solid white;
        }
    }
}
