@mixin listPage() {
    ion-list {
        box-sizing: content-box;

        ion-text,
        ion-skeleton-text {
            display: block;
            width: 80%;
            max-width: 1024px;
            margin-inline: auto;

            padding: 1rem;
            border-radius: 4px;

            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }

        ion-text {
            --item-left-border-width: 3px;
            --item-background: rgba(13, 13, 13);
            border-left: var(--item-left-border-width) solid
                var(--ion-color-primary);
            background-color: var(--item-background);
        }
    }
}
