<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center"> Equipment Types </ion-title>
    </ion-toolbar>
</ion-header>
<beta-asset-side-menu [contentId]="sideMenuID"></beta-asset-side-menu>
<ion-content [forceOverscroll]="false" [id]="sideMenuID" class="ion-padding">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="refresh($event)"
        [disabled]="loading$ | async"
    ></ion-refresher>
    <ion-searchbar
        class="ion-no-padding"
        [value]="search | async"
        (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
    <ion-list lines="none" *ngIf="(loading$ | async) === false">
        <ion-item
            *ngFor="let equipment of equipmentTypes$ | async"
            color="light"
        >
            <ion-label
                class="ion-text-center"
                [routerLink]="getRouterLink(equipment.id)"
            >
                {{ equipment.name }}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="plain" lines="none" *ngIf="loading$ | async">
        <ion-item
            ><ion-skeleton-text [animated]="true"></ion-skeleton-text
        ></ion-item>
        <ion-item
            ><ion-skeleton-text [animated]="true"></ion-skeleton-text
        ></ion-item>
        <ion-item
            ><ion-skeleton-text [animated]="true"></ion-skeleton-text
        ></ion-item>
        <ion-item
            ><ion-skeleton-text [animated]="true"></ion-skeleton-text
        ></ion-item>
        <ion-item
            ><ion-skeleton-text [animated]="true"></ion-skeleton-text
        ></ion-item>
    </ion-list>
</ion-content>
