<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center"> Equipment Types </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="refresh($event)"
        [disabled]="loading$ | async"
    ></ion-refresher>
    <ion-searchbar
        [value]="search | async"
        (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
    <ion-list lines="none" *ngIf="(loading$ | async) === false">
        <ion-text
            class="ion-text-center"
            *ngFor="let equipment of equipmentTypes$ | async"
            lines="none"
            [routerLink]="getRouterLink(equipment.id)"
        >
            {{ equipment.name }}
        </ion-text>
    </ion-list>
    <ion-list lines="none" *ngIf="loading$ | async">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-list>
</ion-content>
