<ion-header>
    <ion-toolbar>
        <ion-back-button
            defaultHref="/home"
            text=""
            slot="start"
        ></ion-back-button>
        <ion-title class="ion-text-center"> Equipments </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="refresh($event)"
        [disabled]="loading$ | async"
    ></ion-refresher>
    <ion-searchbar
        class="ion-no-padding"
        [value]="search | async"
        (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
    <ion-list lines="none" *ngIf="(loading$ | async) === false">
        <ion-item *ngFor="let equipment of equipments$ | async" color="light">
            <ion-label
                class="ion-text-center"
                [routerLink]="getRouterLink(equipment.id)"
            >
                {{ equipment.name }}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none" *ngIf="loading$ | async">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-list>
</ion-content>
