<ng-container *ngIf="(loading$ | async) === false; else loading">
    <ion-list>
        <ion-item
            class="ion-text-center"
            *ngFor="let maintenance of maintenances$ | async"
            lines="none"
            color="light"
        >
            <ion-text>
                {{ maintenance.datetime | date : 'medium' }} -
                {{ maintenance.performed_by }}
            </ion-text>
        </ion-item>
    </ion-list>
</ng-container>
<ng-template #loading>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
</ng-template>
